
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(122, 158, 224);
}
.paragrafo{
    
    background-color: rgb(149, 180, 238);
   border: 5px solid rgb(48, 110, 224);
   /* border-style: groove; */
   border-color: rgb(46, 46, 197);
   padding: 10px 20px 40px 10px;
   margin: 10px;
   width: 650px;
   border-radius: 30px;
}

div.bloco{
    width: 450px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
}


div.bloco1{
    background-color: aquamarine;
    box-shadow: 6px 6px 10px rgb(46, 45, 45)

}
div.bloco2{
    background-color: aqua;
    box-shadow: 6px 6px 10px rgb(46, 45, 45)
}
div.bloco3{
    background-color: deepskyblue;
    box-shadow: 6px 6px 10px rgb(46, 45, 45)
}

div.bloco2:hover{
    width: 450px;
    height: 100px;
    background-color: darkblue;
    color: aliceblue;
}

div.bloco1:hover{
    width: 450px;
    height: 100px;
    background-color: darkblue;
    color: aliceblue;
}

div.bloco3:hover{
    width: 450px;
    height: 100px;
    background-color: darkblue;
    color: aliceblue;
}

.bra{
     background-color: rgb(0, 64, 183);
   border: 5px solid rgb(48, 110, 224);
   /* border-style: groove; */
   color: aliceblue;
   padding: 20px 10px 20px 20px;
   margin: 10px;
   width: 400px;
   border-radius: 20px;
}
.h1{
    text-align: center;
}
.yan{
    width: 450px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
}

.camy{

}